<div class="project-info">
    <div class="ui-container project-info__inner">
        <div class="project-info__common-info project-common-info">
            <div class="project-common-info__headline">Дизайн</div>
            <div class="project-common-info__project-name">Вдохновение</div>
            <div class="project-common-info__title">Автор</div>
            <div class="project-common-info__text">Евгения Мельникова</div>
            <div class="project-common-info__title">Площадь</div>
            <div class="project-common-info__text">100 м.кв.</div>
            <div class="project-common-info__title">Год</div>
            <div class="project-common-info__text">2017</div>
        </div>
        <div class="project-info__description project-description">
            <div class="project-description__headline">Описание</div>
            <div class="project-description__text">Молодость - это легкость, полет, свобода. Именно такой-просторной, наполненной светом и свежестью- пожелали видеть заказчики квартиру, которая станет подарком для их дочери на 18-летие. О концепции гостиной - open space. С высокого этажа открывается захватывающая панорама города. Через большие окна гостиную заливает светом. Удалось сохранить это ощущение полета и воздушности за счет цветовой гаммы - за основу взят белый. Для пола выбрали инженерную доску оттенка светлого какао, который эмоционально «утеплил» и оживил зону open spase. Для пола выбрали инженерную доску оттенка светлого какао, который эмоционально «утеплил» и оживил зону open spase.</div>
            <div class="ui-button ui-button--gradient project-description__button" data-text="Читать дальше"></div>
        </div>
    </div>
</div>