.resume-first-screen {
	background: $ui-white;
	padding: 10px 0 0;

	@include tablet {
		width: 100%;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
        align-items: flex-start;

		@include mobile {
			flex-direction: column;
			align-items: center;
		}

	}

	.contact-item {
		margin-right: 60px;
	}
}

.resume-text-block {
    font: 400 14px $Comfortaa;
    color: $ui-dark-violet;
    letter-spacing: 1px;
    line-height: 22px;

	@include mobile {
		width: 280px;
		padding-left: 0;
	}

	&__text1 {
        font-weight: 700;
		padding-left: 30px;
		border-left: 2px solid $ui-purple;
		margin-bottom: 40px;
	}

	&__text2 {
		margin-bottom: 30px;
	}
}

.text3-block {
    display: flex;
    flex-direction: column;

    &__item {
        display: flex;
        margin-bottom: 15px;
    }

	&__year {
		margin-right: 30px;
		font-weight: bold;
	}

	&__text {
	}


}






