@import './template';

@import './dev-page/dev-page';
@import './front-page/features';
@import './front-page/instagram-block';
@import './front-page/contact-form';
@import './front-page/about';
@import './project-page/project-slider';
@import './project-page/project-info';
@import './contact-page/contact-list';

