<div class="ui-container about">
    <div class="about__title">Почему выбирают нас?</div>
    <div class="about__inner">
        <div class="about__block about-block">
            <div class="about-block__photo"></div>
        </div>
        <div class="about__block about-block">
            <div class="about-block__text-wrapper">
                <div class="about-block__text"><span class="about-block__logo">Happy<span class="about-block__logo-bold">des</span></span> – это профессионалы, дипломированные специалисты в области архитектуры и дизайна интерьеровс опытом работы более 15 лет. </div>
                <div class="about-block__item-wrapper">
                    <div class="about-block__item">
                        <div class="about-block__item-mark"></div>
                        <div class="about-block__item-text">Максимально индивидуальный подход</div>
                    </div>
                    <div class="about-block__item">
                        <div class="about-block__item-mark"></div>
                        <div class="about-block__item-text">Идеальные планировочные решения </div>
                    </div>
                    <div class="about-block__item">
                        <div class="about-block__item-mark"></div>
                        <div class="about-block__item-text">Знание современных тенденций дизайна</div>
                    </div>
                    <div class="about-block__item">
                        <div class="about-block__item-mark"></div>
                        <div class="about-block__item-text">Качественная 3D визуализация</div>
                    </div>
                    <div class="about-block__item">
                        <div class="about-block__item-mark"></div>
                        <div class="about-block__item-text">Разработка рабочих чертежей</div>
                    </div>
                    <div class="about-block__item">
                        <div class="about-block__item-mark"></div>
                        <div class="about-block__item-text">Авторский надзор</div>
                    </div>
                    <div class="about-block__item">
                        <div class="about-block__item-mark"></div>
                        <div class="about-block__item-text">Реализация проектов “под ключ”</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>