<div class="about">
    <div class="ui-container about__inner">
        <div class="about__title">Почему выбирают нас?</div>
        <div class="about__blocks">
            <div class="about__block about-block">
                <div class="about-block__photo"></div>
            </div>
            <div class="about__block about-block">
                <div class="about-block__text">
                    <span class="about-block__logo">Happy<span class="about-block__logo-bold">des</span></span> – это профессионалы, дипломированные специалисты в области архитектуры и дизайна интерьеровс опытом работы более 15 лет.
                </div>

                <div class="about-block__reason">Максимально индивидуальный подход</div>
                <div class="about-block__reason">Идеальные планировочные решения </div>
                <div class="about-block__reason">Знание современных тенденций дизайна</div>
                <div class="about-block__reason">Качественная 3D визуализация</div>
                <div class="about-block__reason">Разработка рабочих чертежей</div>
                <div class="about-block__reason">Авторский надзор</div>
                <div class="about-block__reason">Реализация проектов “под ключ”</div>
            </div>
        </div>
    </div>
</div>
