<div class="features">
	<div class="ui-container features__inner">
		<div class="features__list features-list">
			<div class="features-list__item features-item features-item--features">				
				<div class="features-item__icon features-item__icon--comfort"></div>
				<div class="features-item__title">комфорт</div>
				<div class="features-item__text features-item__text--features">грамотная организация планировки вашего пространства</div>
			</div>

			<div class="features-list__item features-item features-item--features">
				<div class="features-item__icon  features-item__icon--relevance"></div>
				<div class="features-item__title">актуальность</div>
				<div class="features-item__text features-item__text--features">гармония между функией и эстетикой дизайна</div>
			</div>

			<div class="features-list__item features-item features-item--features">
				<div class="features-item__icon features-item__icon--rent"></div>
				<div class="features-item__title">рентабельность</div>
				<div class="features-item__text features-item__text--features">продажа или сдача объекта станет более выгодной и легкой</div>
			</div>

			<div class="features-list__item features-item features-item--features">
				<div class="features-item__icon features-item__icon--saving"></div>
				<div class="features-item__title">гарантия</div>
				<div class="features-item__text features-item__text--features">отличный результат на запланированный бюджет</div>
			</div>
		</div>
	</div>
</div>