<div class="advantages">
	<div class="ui-container advantages__inner">

		<div class="advantages__list advantages-list">
			<div class="advantages-list__item advantages-item">				
				<div class="advantages-item__icon"></div>
				<div class="advantages-item__title">комфорт</div>
				<div class="advantages-item__text">грамотная организация планировки вашего пространства</div>
			</div>

			<div class="advantages-list__item advantages-item">
				<div class="advantages-item__icon"></div>
				<div class="advantages-item__title">актуальность</div>
				<div class="advantages-item__text">дизайн, который будет оставаться современным долгое время</div>
			</div>

			<div class="advantages-list__item advantages-item">
				<div class="advantages-item__icon"></div>
				<div class="advantages-item__title">рентабельность</div>
				<div class="advantages-item__text">продажа или сдача объекта станет более выгодной и легкой</div>
			</div>

			<div class="advantages-list__item advantages-item">
				<div class="advantages-item__icon"></div>
				<div class="advantages-item__title">гарантия</div>
				<div class="advantages-item__text">вы получите отличный результат, на запланированный бюджет</div>
			</div>
		</div>
	</div>x
</div>