<div class="features">
	<div class="ui-container features__inner">

		<div class="features__list features-list">
			<div class="features-list__item features-item">				
				<div class="features-item__icon"></div>
				<div class="features-item__title">комфорт</div>
				<div class="features-item__text">грамотная организация планировки вашего пространства</div>
			</div>

			<div class="features-list__item features-item">
				<div class="features-item__icon"></div>
				<div class="features-item__title">актуальность</div>
				<div class="features-item__text">дизайн, который будет оставаться современным долгое время</div>
			</div>

			<div class="features-list__item features-item">
				<div class="features-item__icon"></div>
				<div class="features-item__title">рентабельность</div>
				<div class="features-item__text">продажа или сдача объекта станет более выгодной и легкой</div>
			</div>

			<div class="features-list__item features-item">
				<div class="features-item__icon"></div>
				<div class="features-item__title">гарантия</div>
				<div class="features-item__text">вы получите отличный результат, на запланированный бюджет</div>
			</div>
		</div>
	</div>
</div>