<div class="contact-form-block">

	<div class="ui-container contact-form-block__inner">
		<div class="contact-form-block__tittle">
			Хотите заказать проект или сотрудничать с happydes?
		</div>

		<div class="contact-form-block__subtittle">
			Оставьте заявку на обратный звонок
		</div>

		<form class="contact-form-block__form contact-form">

			<div class="contact-form__name-wrapper">
				<input class="ui-input contact-form__name" type="text" placeholder="Ваше имя">
			</div>

			<div class="contact-form__number-wrapper">
				<input class="ui-input contact-form__number" type="tel" placeholder="+7 (___) ___-__-__">
			</div>

			<div class="ui-custom-button ui-custom-button--gradient contact-form__button" data-text="Оставить заявку"></div>
		</form>
	</div>
</div>
