<div class="first-screen__item first-screen-item first-screen-item--short">
    <div class="first-screen-item__inner">
        <div class="first-screen-item__cell">
            <div class="first-screen-item__text">Дизайн</div>
            <div class="first-screen-item__text">2017</div>
        </div>
        <div class="first-screen-item__cell first-screen-item__cell--direction-column">
            <div class="first-screen-item__title">Вдохновение</div>
            <div class="first-screen-item__subtitle">Евгения Мельникова</div>
        </div>
        <div class="first-screen-item__cell">
            <div class="first-screen-item__text">Смотреть »</div>
        </div>
    </div>
</div>
