<div class="first-screen">
    <div class="ui-container first-screen__inner">
        <div class="first-screen__mobile-block">
            <div class="first-screen__mobile-title">Архитектурное проектирование.</div>
            <div class="first-screen__mobile-title">Дизайн интерьеров.</div>
        </div>
        <div class="first-screen__column">
            <!-- @include ./first-screen-item-author.html -->
            <!-- @include ./first-screen-item-short.html -->
        </div>
        <div class="first-screen__column">
            <!-- @include ./first-screen-item.html -->
            <!-- @include ./first-screen-item.html -->
        </div>
        <div class="first-screen__column">
            <!-- @include ./first-screen-item-short.html -->
            <!-- @include ./first-screen-item-author.html -->
        </div>
    </div>
</div>
