<div class="services">
	<div class="ui-container services__inner">
		<div class="services__title">сферы нашей деятельности</div>

		<div class="services__list services-list">
			<div class="services-list__item services-item">				
				<div class="services-item__icon"></div>
				<div class="services-item__title">архитектура</div>
				<div class="services-item__text">проектирование жилых и общественных зданий</div>
			</div>

			<div class="services-list__item services-item">
				<div class="services-item__icon"></div>
				<div class="services-item__title">дизайн</div>
				<div class="services-item__text">разработка дизайна жилых и общественных зданий</div>
			</div>

			<div class="services-list__item services-item">
				<div class="services-item__icon"></div>
				<div class="services-item__title">декорирование</div>
				<div class="services-item__text">подбор отделочных материалов, мебели и предметов интерьера</div>
			</div>

			<div class="services-list__item services-item">
				<div class="services-item__icon"></div>
				<div class="services-item__title">ландшафт</div>
				<div class="services-item__text">организация пространства, малые формы</div>
			</div>
		</div>

		<div class="ui-button ui-button--gradient-bg services__button" data-text="смотреть проекты"></div>
	</div>
</div>
