<div class="features">
	<div class="ui-container features__inner">
		<div class="features__title">сферы нашей деятельности</div>

		<div class="features__list features-list">
			<div class="features-list__item features-item">
				<div class="features-item__icon features-item__icon--architecture"></div>
				<div class="features-item__title">архитектура</div>
				<div class="features-item__text">проектирование жилых и общественных зданий</div>
			</div>

			<div class="features-list__item features-item">
				<div class="features-item__icon features-item__icon--design"></div>
				<div class="features-item__title">дизайн</div>
				<div class="features-item__text">разработка дизайна жилых и общественных зданий</div>
			</div>

			<div class="features-list__item features-item">
				<div class="features-item__icon features-item__icon--decor"></div>
				<div class="features-item__title">декорирование</div>
				<div class="features-item__text">подбор отделочных материалов, мебели и предметов интерьера</div>
			</div>

			<div class="features-list__item features-item">
				<div class="features-item__icon features-item__icon--landscape"></div>
				<div class="features-item__title">ландшафт</div>
				<div class="features-item__text">организация пространства, малые формы</div>
			</div>
		</div>

		<div class="ui-custom-button ui-custom-button--transparent features__button" data-text="смотреть проекты"></div>
	</div>
</div>
