.header-bottom {
    display: flex;
    font: 400 16px $Comfortaa;
    color: $ui-dark-violet;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;

    @include tablet {
        font: 400 12px $Comfortaa;
        padding: 10px 0;
        letter-spacing: 0px;
    }

    @include mobile {
        padding: 10px 0;
    }

    &__block {
        width: 360px;
        display: flex;
        align-items: center;
        justify-content: center;

        &--flex-start {
            justify-content: space-between;
        }

        &--flex-end {
            justify-content: flex-start;
        }
        
        @include tablet {
            width: 230px;
        }

    }

    &__button {
        width: 30px;
        height: 2px;
        background: $ui-purple;
        position: relative; 

        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 2px;
            background: $ui-purple;
            position: absolute; 
            top: -6px;
        }

        &::before {
            content: "";
            display: block;
            width: 30px;
            height: 2px;
            background: $ui-purple;
            position: absolute; 
            top: 6px;
        }
    }

    &__logo {
        width: 240px;
        align-self: center;

        @include tablet {
            width: 200px;
        }

        @include mobile {
            width: 200px;
        }
    }

    &__text {
        align-self: flex-end;

        @include mobile {
             display: none;
        }
    }
}