.contact-form-block {
	background: $ui-gradient;
	padding: 60px 0;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	&__tittle {
		font-size: 30px;
		text-transform: uppercase;
		width: 600px;
		text-align: center;
		margin-bottom: 15px;

		@include mobile {
			width: 100%;
		}
	}
	
	&__subtittle {
		font-size: 30px;
		margin-bottom: 20px;
		text-align: center;
	}
}

.contact-form {
	margin: 0;
	padding: 30px 80px;
	background: $ui-white;
	width: 100%;
	border-radius: 15px;
	display: flex;
	justify-content: space-between;

	@include mobile {
		flex-direction: column;
		padding: 30px;
	}

	&__button {
		text-transform: uppercase;

		&::before {
			padding-top: 13px;
		}
	}

	&__name-wrapper,
	&__number-wrapper {
		background: $ui-gradient;
		padding: 2px;
		border-radius: 17px;
		display: flex;
		width: 30%;

		@include mobile {
			width: 100%;
			margin-bottom: 20px;
		}
	}

	&__name,
	&__number {
		border-radius: 15px;
		flex-grow: 1;
		width: 100%;
	}
}

