.project-info {
    font: 700 14px $Comfortaa;
    color: $ui-dark-violet;
    letter-spacing: 2px;
    line-height: 22px;
    margin-bottom: 60px;

    @include tablet {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 16px;
        margin-bottom: 40px;
    }

    @include mobile {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 16px;
        margin-bottom: 40px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
            align-items: center; 
        }
    }
}

.project-common-info {
   width: 236px; 
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   text-transform: uppercase;

   @include tablet {
        width: 178px; 
    }

    @include mobile {
        width: 300px;
        align-items: center; 
    }

   &__headline {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 30px;

        @include tablet {
            font-size: 12px;
            margin-bottom: 20px;
        }

        @include mobile {
            font-size: 12px;
            margin-bottom: 15px;
        }
   }

   &__project-name {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;

        @include tablet {
            font-size: 16px;
        }

        @include mobile {
            font-size: 16px;
        }
   }

   &__title {
        font-size: 14px;
        font-weight: 700; 
        margin-bottom: 5px;

        @include tablet {
            font-size: 12px;
        }

        @include mobile {
            font-size: 12px;
        }
   }

   &__text {
        margin-bottom: 15px;
   }
}

.project-description {
    width: 705px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: 1px;

    @include tablet {
        width: 531px; 
    }

    @include mobile {
        width: 300px; 
        align-items: center;
    }

    &__headline {
        font-size: 14px;
        font-weight: 700; 
        text-transform: uppercase; 
        margin-bottom: 30px;

        @include tablet {
            font-size: 12px;
            margin-bottom: 20px;
        }

        @include mobile { 
            font-size: 12px;
            margin-bottom: 15px;
        }
    }

    &__text {
        margin-bottom: 30px;
        height: 190px;
        overflow: hidden;

        @include tablet {
            margin-bottom: 20px;
            height: 180px;
        }

        @include mobile { 
            text-align: center; 
        }
    }

    &__button {
        flex-grow: 0;
        text-transform: uppercase; 
        font-size: 14px;
        font-weight: 700; 

        @include tablet {
            font-size: 12px;
        }

        @include mobile { 
            align-self: center;
            font-size: 12px; 
        }
    }
}