<div class="resume-publications">
    <div class="ui-container resume-publications__inner">
        <div class="resume-publications__title">Публикации</div>
        <ul class="resume-publications__list publications-list x-resume-slider">
            <li class="publications-list__item"></li>
            <li class="publications-list__item"></li>
            <li class="publications-list__item"></li>
            <li class="publications-list__item"></li>
            <li class="publications-list__item"></li>
            <li class="publications-list__item"></li>
            <li class="publications-list__item"></li>
        </ul>
    </div>
</div>
