<div class="resume-first-screen x-resume-first-screen">
	<div class="ui-container resume-first-screen__inner">

		<div class="resume-first-screen__block contact-item x-contact-item">
			<div class="contact-item__icon contact-item__icon--photo1"></div>
			<div class="contact-item__title">Евгения Мельникова</div>
			<div class="contact-item__text">архитектор и дизайнер</div>
			<div class="contact-item__social-icons">
				<a class="contact-item__social-icon contact-item__social-icon--instagram"></a>
	            <a class="contact-item__social-icon contact-item__social-icon--facebook"></a>
			</div>
			<a href="tel:+7(928)102-80-01" class="ui-link ui-link--reverse contact-item__number">+7 (928)102-80-01</a>
			<a href="mailto:jenia23ml@yandex.ru" class="ui-link ui-link--reverse contact-item__email">jenia23ml@yandex.ru</a>
		</div>

		<div class="resume-first-screen__block">
            <div class="resume-text-block resume-text-block--fade x-text">
                <div class="resume-text-block__text1">
                    «Интерьер — это среда обитания. Важно обдумать каждый элемент в пространстве. Ведь никакие материалы и дорогая мебель не сделают помещение удобным, если планировка не продуманна в самом начале и не приспособлена к вашему образу жизни, привычкам семьи или общественной функции. Секрет качественной реализации проекта в четком следовании намеченному плану, в правильном подборе отделочного материала, мебели, света, текстиля и других предметов интерьера, в авторском надзоре на всех этапах ремонта и профессиональных строителях»
                </div>

                <div class="resume-text-block__text2">
                    Выпускница Ростовской Государственной Академии Архитектуры и Искусств. Кафедра Архитектуры жилых и общественных зданий. Архитектор. В профессии дизайнера интерьеров с 2005 года. Автор множества публикаций в интерьерных изданиях Ростова.
                </div>

                <div class="resume-text-block__text3 text3-block">
                    <div class="text3-block__item">
                        <div class="text3-block__year">
                            2006 г.
                        </div>
                        <div class="text3-block__text">
                            Посещение ведущей фабрики керамическом плитки REX, соприкосновение с искусством и культурой Италии во Флоренции, Галерея Уффици.
                        </div>
                    </div>
                    <div class="text3-block__item">
                        <div class="text3-block__year">
                            2007 г.
                        </div>
                        <div class="text3-block__text">
                            Посещение в Москве ГМИИ им.А.С.Пушкина выставки выдающегося архитектора и дизайнера Нормана Фостера.
                        </div>
                    </div>
                    <div class="text3-block__item">
                        <div class="text3-block__year">
                            2008 г.
                        </div>
                        <div class="text3-block__text">
                            Посещение ведущей фабрики керамическом плитки FAP, проживание и знакомство с культурой района Кьянти, фамильных усадеб в Тоскании, в Болоньи посещение дома-музея, где родился Леонардо да Винчи-великий итальянский живописец, скульптор и архитектор, яркий представитель эпохи Возрождения.
                        </div>
                    </div>
                    <div class="text3-block__item">
                        <div class="text3-block__year">
                            2012 г.
                        </div>
                        <div class="text3-block__text">
                            Сертификат участника курса лекций в рамках Краснодарской Недели Дизайна 2012. Лекторы: Карим Рашид, Фабио Новембре, Матали Крассе, Хосе Асебильо, Джузеппе Кангалози.
                        </div>
                    </div>
                    <div class="text3-block__item">
                        <div class="text3-block__year">
                            2016 г.
                        </div>
                        <div class="text3-block__text">
                            Сертификаты участника ELLE DECORATION DESIGN DAYS и факультатива WESTLAB. Прошла интенсивные курсы повышения квалификации для декораторов и дизайнеров «Теория и практика современного интерьера» и «Upgrade для профессионалов». Лекторы: Алексей Дорожкин, Анна Муравина, Майк Шилов, Диана Балашова, Виктор Дембовский.
                        </div>
                    </div>
                    <div class="text3-block__item">
                        <div class="text3-block__year">
                            2017 г.
                        </div>
                        <div class="text3-block__text">
                            Сертификат участника факультатива WESTLAB «Мировые выставки дизайна как лаборатория трендов. Кёлн-2017» Лектор: Виктор Бембовский.
                        </div>
                    </div>
                    <div class="text3-block__item">
                        <div class="text3-block__year">
                            2017 г.
                        </div>
                        <div class="text3-block__text">
                            Участие в Пятой Интерьерной премии журнала Home&Family в номинациях Квартиры и Частные дома.
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-button ui-button--gradient resume-text-block__button resume-text-block__button--more x-more-less" data-text="Читать дальше"></div>
		</div>
	</div>
</div>
