<div class="resume-certificates">
    <div class="ui-container resume-certificates__inner">
        <div class="resume-certificates__title">Дипломы и сертификаты</div>
        <ul class="resume-certificates__list certificates-list x-resume-slider">
            <li class="certificates-list__item">1</li>
            <li class="certificates-list__item">2</li>
            <li class="certificates-list__item">3</li>
            <li class="certificates-list__item">4</li>
            <li class="certificates-list__item">5</li>
            <li class="certificates-list__item">6</li>
            <li class="certificates-list__item">7</li>
        </ul>
    </div>
</div>
