<div class="resume-first-screen">
	<div class="ui-container resume-first-screen__inner">

		<div class="resume-first-screen__block contact-item">
			<div class="contact-item__icon contact-item__icon--photo1"></div>
			<div class="contact-item__title">Евгения Мельникова</div>
			<div class="contact-item__text">архитектор и дизайнер</div>
			<div class="contact-item__social-icons">
				<a class="contact-item__social-icon contact-item__social-icon--instagram"></a>
	            <a class="contact-item__social-icon contact-item__social-icon--facebook"></a>
			</div>
			<a href="tel:79281028001" class="contact-item__number">+7 (928) 102 80 01</a>
			<a href="mailto:jenia23ml@yandex.ru" class="contact-item__email">jenia23ml@yandex.ru</a>
		</div>

		<div class="resume-first-screen__block resume-text-block">
			<div class="resume-text-block__text1">
				«Интерьер ― это среда обитания. Важно обдумать каждый элемент в пространстве. Ведь никакие материалы и дорогая мебель не сделают помещение удобным, если планировка не продуманна в самом начале и не приспособлена к вашему образу жизни, привычкам семьи или общественной функции. Секрет качественной реализации проекта в четком следовании намеченному плану, в правильном подборе отделочного материала, мебели, света, текстиля и других предметов интерьера, в авторском надзоре на всех этапах ремонта и профессиональных строителях»
			</div>

			<div class="resume-text-block__text2">
				Выпускница Ростовской Государственной Академии Архитектуры и Искусств. Кафедра Архитектуры жилых и общественных зданий. Архитектор. В профессии дизайнера интерьеров с 2005 года. Автор множества публикаций в интерьерных изданиях Ростова.
			</div>

			<div class="resume-text-block__text3 text3-block">
				<div class="text3-block__year">
					2006 г.
				</div>
				<div class="text3-block__text">
					 Посещение ведущей фабрики керамическом плитки REX, соприкосновение с искусством и культурой Италии во Флоренции, Галерея Уффици.
				</div>
			</div>
			
			<div class="resume-text-block__button" data-text="читать дальше"></div>
		</div>
	</div>
</div>