.catalog {
    padding-bottom: 60px;

    &__inner {
        display: flex;
        justify-content: space-between;

    }
}

.catalog-filter {
    padding: 50px 25px 25px;
    background: $ui-gradient;
    width: 200px;
    border-radius: 24px;

    &__title {
        margin-bottom: 40px;
        font-size: 24px;
        text-transform: uppercase;
    }
    &__button {
        margin-bottom: 10px;

        &::before {
            text-transform: uppercase;
            font-size: 12px;
        }
    }
}

.catalog-list {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    &__item {
        background: $ui-dark-violet;
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }
}

.catalog-item {
    background-image: url('/img/photo-catalog-item.jpg');
    background-size: cover;
    font-size: 12px;

    

    &__text {
        display: inline-flex;
        flex-flow: wrap; 
        padding-right: 10px;
        padding-top: 10px;
        margin-bottom: 50px;
    }



    &__subtitle{
        font-size: 10px;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    &__title {
        font-size: 16px;
        text-transform: uppercase;
    }

    &__inner{
        background: $ui-gradient;
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: opacity .5s;
        cursor: pointer;
        display: flex;
        flex-direction: inherit;
        justify-content: center;
        flex-wrap: wrap;
    }

    &:hover .catalog-item__inner {
        opacity: 0.8;
    }
}