$ui-link:           #3366CC;
$ui-blue:           #0D59A6;
$ui-blue-dark:      #046FB5;
$ui-blue-focus:     #1158A0;
$ui-blue-grey:      #EEF1F5;
$ui-grey:           #BAB8B8;
$ui-grey-dark:      #212121;
$ui-grey-text:      #7D7D7D;
$ui-grey-text-2:    #4A4A4A;
$ui-grey-text-dark: #646464;
$ui-alarm-red:      #DE4444;
$ui-alarm-yellow:   #ffcb4d;
$ui-orange:         #DC2B1C;
$ui-yellow:         #FEC200;
$ui-yellow-light:   #FAF2D4;
$ui-green:          #2FC161;
$ui-red:            #EE0000;

$ui-blue-gradient:          linear-gradient(#2881BE, #1C6AA0);
$ui-blue-gradient-hover:    linear-gradient(#3692D1, #2576AD);
$ui-blue-gradient-disabled: linear-gradient(#B1CFE4, #90A7B6);
$ui-grey-gradient:          linear-gradient(#EFF1F4, #D5D9E1);
$ui-grey-gradient-hover:    linear-gradient(#DFE2E9, #BAC1CF);
$ui-yellow-gradient:        linear-gradient(#FFCD43, #FFC12F);
$ui-green-gradient:         linear-gradient(#009F50, #1FBF54);

$ui-gradient: linear-gradient(to right, #e3cfe1, #e3f1f0);
$ui-dark-violet: #210c35;
$ui-white: #FFFFFF;