.ui-container {
    position: relative;
    width: 1140px;
    margin: 0 auto;

    @include desktop {
        width: 980px;
    }

    @include tablet {
        width: 748px;
    }

    @include mobile {
        width: calc(100% - 20px);
        min-width: 300px;
    }
}
