@import "./ui-colors";
@import "./ui-fonts";

.ui-textarea {
    display: flex;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid $ui-grey;
    border-radius: 4px;
    background: #fff;
    font: 14px $Helvetica;

    &:focus {
        border-color: $ui-blue-focus;
        outline: none;
        box-shadow: none;
    }
}
