@import "./ui-colors";
@import "./ui-fonts";

.ui-input {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 6px 10px 5px;
    border: 1px solid $ui-white;
    border-radius: 4px;
    background: #fff;
    font: 14px $Comfortaa;

    &:focus {
        border-color: $ui-white;
        outline: none;
        box-shadow: none;
    }

    &--m {
        height: 36px;
    }
}
