a:not(.ui-custom-button),
a:not(.ui-custom-button):focus,
a:not(.ui-custom-button):visited,
a:not(.ui-custom-button):active,
.ui-link,
.ui-link:focus,
.ui-link:visited,
.ui-link:active {
    color: $ui-dark-violet;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }

    &.ui-link--reverse {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &.ui-link--white {
        color: #fff;
    }

    &.ui-link--black {
        color: #000;
    }

    &.ui-link--disabled {
        // color: $ui-grey;
        cursor: not-allowed;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &.ui-link--white-mobile {

        @include mobile {
            color: #fff;
        }
    }

    &.ui-link--spy {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &.ui-link--always {
        text-decoration: underline;

        &:hover {
            text-decoration: underline;
        }
    }

    &.ui-link--back {
        &::before {
            content: url('/img/left-arrow.svg');
            display: inline-block;
            width: 17px;
            height: 9px;
            margin-right: 8px;
        }
    }
}
