.footer {
    padding: 20px 0;
    background: $ui-white;
    font: 18px $Helvetica;

    @include tablet {
        font-size: 14px;
    }

    @include mobile {
        padding: 20px 0;
        font-size: 14px;
    }
}

.footer-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
        position: relative;
    }

    @include mobile {
        flex-direction: column;
    }
    
    &__copyright {
        color: #000;
        line-height: 1;

        @include mobile {
            order: 1;
        }
    }

    &__column:not(:last-child) {
        
        @include not-mobile {
            padding-right: 15px;
        
            &::after {
                content: '|';
                margin-left: 15px; 
            }
        }

        @include mobile {
            margin-bottom: 15px;
        }
    }
}