<div class="catalog">
    <div class="ui-container catalog__inner">
        <div class="catalog__filter catalog-filter">
            <div class="catalog-filter__title">Наши проекты</div>
            <div class="ui-custom-button ui-custom-button--transparent catalog-filter__button" data-text="все"></div>
            <div class="ui-custom-button ui-custom-button--transparent catalog-filter__button" data-text="архитектура"></div>
            <div class="ui-custom-button ui-custom-button--transparent catalog-filter__button" data-text="дизайн"></div>
            <div class="ui-custom-button ui-custom-button--transparent catalog-filter__button" data-text="декор"></div>
            <div class="ui-custom-button ui-custom-button--transparent catalog-filter__button" data-text="ландшафт"></div>
        </div>
       <ul class="catalog__list catalog-list x-catalog-list">
            <!-- @include ./catalog-item.html -->
            <!-- @include ./catalog-item.html -->
            <!-- @include ./catalog-item.html -->
            <!-- @include ./catalog-item.html -->
            <!-- @include ./catalog-item.html -->
            <!-- @include ./catalog-item.html -->
            <!-- @include ./catalog-item.html -->
            <!-- @include ./catalog-item.html -->
            <!-- @include ./catalog-item.html -->
            <!-- @include ./catalog-item.html -->
            <!-- @include ./catalog-item.html -->
            <!-- @include ./catalog-item.html -->
       </ul>
    </div>
</div>
