<html lang="ru">
    <!-- @include ../layouts/head.html -->
    <body>
        <main>
			<div class="dev-page">
				<div class="dev-page__inner">
					<img src="/img/InHD_logo.svg" alt="" class="dev-page__logo">
					<div class="dev-page__subtitle">Сайт в разработке</div>
					<div class="dev-page__text">В настоящее время мы работаем над новым веб-сайтом.<br>Оставайтесь с нами:</div>
					<a href="mailto:inhappydes@gmail.com" class="ui-link ui-link--reverse dev-page__mail">inhappydes@gmail.com</a>
					<a href="tel:79281028001" class="ui-link ui-link--reverse dev-page__phone">+7 (928) 102 80 01</a>
					<a href="https://www.instagram.com/in_happydes" class="ui-button ui-button--gradient dev-page__inst" data-text="Мы в инстаграмме"></a>
				</div>
			</div>
        </main>
    </body>
    <!-- @include ../layouts/scripts.html -->
</html>
