<div class="contact-list">
	<div class="ui-container contact-list__inner">
		<div class="contact-list__item contact-item">
			<div class="contact-item__icon contact-item__icon--photo1"></div>
			<div class="contact-item__title">Евгения Мельникова</div>
			<div class="contact-item__text">архитектор и дизайнер</div>
			<div class="contact-item__social-icons">
				<a class="contact-item__social-icon contact-item__social-icon--instagram"></a>
	            <a class="contact-item__social-icon contact-item__social-icon--facebook"></a>
			</div>
			<a href="tel:79281028001" class="ui-link ui-link--reverse contact-item__number">+7 (928) 102 80 01</a>
			<a href="mailto:jenia23ml@yandex.ru" class="ui-link ui-link--reverse contact-item__email">jenia23ml@yandex.ru</a>
		</div>

		<div class="contact-list__item contact-item">
			<div class="contact-item__icon contact-item__icon--photo2"></div>
			<div class="contact-item__title">Максим Крутько</div>
			<div class="contact-item__text">архитектор и дизайнер</div>
			<div class="contact-item__social-icons">
	            <a class="contact-item__social-icon contact-item__social-icon--facebook"></a>
			</div>
			<a href="tel:79281028001" class="ui-link ui-link--reverse contact-item__number">+7 (928) 102 80 01</a>
			<a href="mailto:jenia23ml@yandex.ru" class="ui-link ui-link--reverse contact-item__email">jenia23ml@yandex.ru</a>
		</div>
	</div>
</div>