.contact-list {
	background: $ui-white;
    color: $ui-dark-violet;
    font: 700 12px $Comfortaa;
	padding: 10px 0 60px;

	@include mobile {
		padding: 10px;
	}

	&__inner {

		padding: 0 130px;
		display: flex;
		justify-content: space-around;

		@include tablet {
			padding: 40px;
		}

		@include mobile {
			padding: 0 30px;
			displey: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__item {
		background: $ui-gradient;
		border-radius: 12px;
		padding: 40px;

		@include mobile {
			margin-bottom: 50px;

			&:last-child {
        	margin-bottom: 0;
        	}
		}
	}
}

.contact-item {	
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 280px;

	&__icon {
		width: 190px;
		height: 190px;
		border: 2px solid $ui-white;
		border-radius: 50%;
		margin-bottom: 15px;
		background-size: cover;


		&--photo1 {
			background-image: url('/img/photo1.jpg');
		}

		&--photo2 {
			background-image: url('/img/resume_maxim_krutko.jpg');
		}
	}

	&__title {
		display: flex;
		text-align: center;
		width:150px;
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	&__text {
		display: flex;
		text-align: center;
		width: 211px;
		margin-bottom: 15px;
	}

    &__social-icons {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 15px;

        @include mobile {
            margin-bottom: 10px;
        }
    }

    &__social-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $ui-white;
        margin-right: 25px;

        &:last-child {
        	margin-right: 0;
        }
    }

    &__number {
    	margin-bottom: 15px;
    }

    &__email {
    	margin-bottom: 15px;
    }
}